################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net9.0-windows
/obj/Debug/net9.0-windows/shlauncher.AssemblyInfo.cs
/obj/Debug/net9.0-windows/shlauncher.AssemblyInfoInputs.cache
